.item {
  margin-bottom: calc(var(--ifm-spacing-vertical) * 2);
}

.link {
  height: 100%;
  text-decoration: none !important;
}

.card {
  height: 100%;
}

.description {
  color: var(--ifm-color-content-secondary);
}
