/* Cards in the same row of the column layout get the same height */
.item {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.link {
  flex-grow: 1;
  text-decoration: none !important;
}

.card {
  height: 100%;
}

.description {
  color: var(--ifm-color-content-secondary);
}
