.operationPath {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operationPath * {
    height: 100%;
}

.operationPathItem {
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
}