.operationPath {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operationPath * {
    height: 100%;
}

.operationPathItem {
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
}

.executingAs {
    margin-top: 8px;
    font-size: 0.875rem;
    color: var(--color-text-secondary);
}