{"openapi":"3.0.1","info":{"version":"1.5.1","title":"Schnittstellen für Mittwald-Kunden","description":">**Für die öffentliche API, alle Bestandteile und diese Dokumentation bieten wir keinen Support. Wir behalten uns vor, Änderungen jederzeit und ohne Ankündigung oder Dokumentation durchzuführen.**\n\nAuthentifizierung\n-----------------\n\n### Mit Nutzername & Passwort\n\nZur Authentifizierung wird ein zuvor ausgestelltes API-Token benötigt. Bei Requests kann dieses Token innerhalb eines `Authorization`-Headers übergeben werden:\n\n```http\nGET /v1/customers/123456 HTTP/1.1\nHost: api.mittwald.de\nAuthorization: Bearer {TOKEN-HIER-EINFÜGEN}\n```\n\nAlternativ dazu kann das Token auch in Form des Query-Parameters `access_token` übergeben werden:\n    GET /v1/customers/123456?access_token={TOKEN-HIER-EINFÜGEN} HTTP/1.1\n    Host: api.mittwald.de\n\nUm ein Token zu beziehen, kann der `/authenticate`-Endpunkt genutzt werden. Hier erfolgt eine Authentifzierung über die Zugangsdaten des Mittwald-Kundencenters.\n    POST /v1/authenticate HTTP/1.1\n    Host: api.mittwald.de\n    Content-Type: application/json\n    Accept: application/jwt\n\n    {\n        \"username\": \"r1234\",\n        \"password\": \"{PASSWORT-HIER-EINFÜGEN}\"\n    }\n\nRückgabewert dieses Aufrufs ist ein API-Token. Dieses hat eine begrenzte Gültigkeitsdauer.\n\n**Wichtig**: Client-Applikationen sollten das API-Token für seine Gültigkeitsdauer cachen, und erst *anschließend* ein neues Token über die API anfordern.\n\n### Mit Access-Token\n\nFür Anwendungen, die dauerhaft Zugriff auf die Mittwald-API benötigen, wird nicht empfohlen, Nutzername und Passwort dauerhaft in der jeweiligen Anwendung zu speichern. Stattdessen empfehlen wir den Einsatz eines Access Tokens, welches nach einem (initialen) Login mit Nutzername und Passwort erstellt und im Anschluss anstelle dessen genutzt werden kann.\n\nHierzu wird zunächst ein reguläres API-Token benötigt, das per Nutzername und Passwort bezogen werden kann. Weder Nutzername+Passwort noch das damit bezogene API-Token müssen dauerhaft gespeichert werden. Sie dienen lediglich dazu, ein Access Token zu erstellen, welches im Anschluss dauerhaft in der Applikation gespeichert werden kann:\n\n```\nPOST /v1/authentication/tokens HTTP/1.1\nHost: api.mittwald.de\nContent-Type: application/json\n\n{  \"description\": \"Meine Anwendung\"\n}\n```\n\nIn der Antwort auf obige Anfrage ist das eigentliche Access Token und dessen ID enthalten (mit Beispiel-Daten):\n\n```\nHTTP/1.1 201 Created\nContent-Type: application/json\n\n{  \"uuid\": \"2a91ce52-2058-404b-9959-ac7d2fbbbfbc\",\n  \"token\": \"MW_aEQyz5j9YmTaamTq2N9X3d2sBDACLUoz\",\n  \"crdate\": \"2021-08-23T14:06:17.580Z\",\n  \"description\": \"Meine Anwendung\"\n}\n```\n\n`uuid` und `token` dieser Antwort können bei nachfolgenden Authentifzierungs-Vorgängen als Nutzername und Passwort genutzt werden.\n\nRate Limiting\n-------------\n\nZur Sicherstellung der Systemstabilität sind einige API-Endpunkte in der Anzahl der durchführbaren Anfragen beschränkt. Die Limitierung bezieht sich dabei stets auf ein Zeitfenster von 15 Minuten.\n\nBei auf diese Weise zugriffsbeschränkten API-Endpunkten enthalten die HTTP-Antworten stets einen `X-RateLimit`-Header, welcher die maximale Anzahl der ausführbaren Anfragen enthält. Außerdem enthält jede Antwort einen `X-RateLimit-Remaining`-Header, welcher die aktuell noch verfügbaren Anfragen enthält:\n    HTTP/1.1 200 OK\n    Content-Type: application/json;charset=utf8\n    Content-Length: 1234\n    X-RateLimit: 1000\n    X-RateLimit-Remaining: 712\n\nCaching\n-------\n\nEinige Anfragen an die API können zwecks besserer Performance aus einem serverseitigen Cache beantwortet werden. Wurde eine Anfrage aus dem Cache beantwortet, enthält die Antwort einen `X-Cache: HIT`-Header.\n\nDer Cache einer Ressource wird dann geleert, wenn ein `POST`-, `PUT`- oder `DELETE`-Request an dieselbe URI gesendet wird, oder bei einem `GET`-Request ein `Cache-Control: no-cache`-Header gesendet wird.\n","x-navigateMethodsByName":true},"servers":[{"url":"https://api.mittwald.de/v1"}],"tags":[{"name":"Authentifizierung","description":"Authentifizierung"},{"name":"Accounts","description":"Webhosting-Accounts"},{"name":"Reseller","description":"Reseller-Tarife"},{"name":"Database","description":"Datenbanken"},{"name":"Domains","description":"Domaindaten"},{"name":"Mailadressen","description":"Mailadressen"},{"name":"Notification","description":"Notifications"},{"name":"Software","description":"Softwaremanager"},{"name":"Kunden","description":"Kunden- und Vertragsdaten"},{"name":"Verträge","description":"Verträge"},{"name":"Angebote","description":"Angebotsmanagement"},{"name":"Bestellungen","description":"Bestellung neuer Artikel"},{"name":"Partner","description":"Partnerprogramm & Partnerbox"},{"name":"Artikel","description":"Artikelverwaltung"},{"name":"Warenkorb","description":"Bestellung neuer Artikel"},{"name":"PromotionCode","description":"Gutscheincodes"},{"name":"Virt","description":"V/D-Root Server"},{"name":"Bankdaten","description":"Bankdaten"},{"name":"Webhooks","description":"Webhooks"},{"name":"Kündigung","description":"Kündigung"},{"name":"DSGVO-Verträge","description":"DSGVO-Verträge"},{"name":"DSGVO-Kontakte","description":"DSGVO-Kontakte"},{"name":"DSGVO-TOMs","description":"DSGVO-TOMs"},{"name":"Tickets","description":"Support-Tickets"},{"name":"navigation","description":"Navigation"},{"name":"Telefonverifizierung","description":"Telefonverifizierung"},{"name":"Dateiupload","description":"Dateiupload"},{"name":"Password","description":"Password"},{"name":"mfa","description":"MFA"},{"name":"Feedback","description":"Feedback"},{"name":"Zertifikate","description":"Zertifikate"},{"name":"DNS","description":"DNS"},{"name":"Cronjob","description":"Cronjobs"}],"paths":{"/authenticate":{"post":{"tags":["Authentifizierung"],"summary":"Login über eine der Zugriffsmöglichkeiten","description":"Diese Operation liefert bei erfolgreichem Login ein access_token aus. Es kann ein zweiter Faktor notwendig sein. Dieser kann per TOTP generiert werden oder per E-Mail empfangen werden. Im letzten Fall muss dann zusätzlich eine Device-ID mitgeschickt.","operationId":"authenticate","requestBody":{"description":"Der Request für den Login (mindestens Username und Password). Zusätzlich kann eine Device-ID und/oder ein MultiFactorCode erforderlich sein. Erkennbar ist das an der Response 202.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRequest"}}},"required":true},"responses":{"200":{"description":"Login Token und Ablaufzeitpunkt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationResponse"}}}},"202":{"description":"Login ist nicht fehlerhalft, erfordert aber einen weiteren Faktor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationIncompleteResponse"}}}}},"x-operationName":"Login"}},"/authentication/tokens":{"get":{"tags":["Authentifizierung"],"summary":"Auslesen von erstellten Application-Tokens","description":"Diese Operation liefert alle bisher erstellten Application-Tokens aus.","operationId":"listApplicationTokens","responses":{"200":{"description":"Liste aller Application-Tokens","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationToken"}}}}}},"x-operationName":"Auslesen von erstellten Application-Tokens"},"post":{"tags":["Authentifizierung"],"summary":"Hinterlegen von neuen Application-Tokens","description":"Diese Operation ermöglicht es neue Application-Tokens zu hinterlegen.","operationId":"createApplicationToken","requestBody":{"description":"Das Token sowie eine optionale Beschreibung","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationTokenInput"}}},"required":true},"responses":{"201":{"description":"Application-Token hinterlegt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationTokenResponse"}}}}},"x-operationName":"Hinterlegen von neuen Application-Tokens","x-codegen-request-body-name":"token"}},"/authentication/accesstoken":{"get":{"tags":["Authentifizierung"],"operationId":"getAccessToken","description":"get new access token","summary":"get new access token","responses":{"200":{"description":"access token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}}}}},"/authentication/tokens/{uuid}":{"delete":{"tags":["Authentifizierung"],"summary":"Löschen von Application-Tokens","description":"Diese Operation ermöglicht es Application-Tokens zu löschen.","operationId":"deleteApplicationToken","parameters":[{"name":"uuid","in":"path","description":"Die UUID des Tokens","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Application-Token gelöscht","content":{}}},"x-operationName":"Löschen von Application-Tokens"}},"/authentication/self":{"get":{"tags":["Authentifizierung"],"summary":"User-Name des aktuellen Logins","description":"Ließt aus dem JWT den aktuellen User-Namen aus","operationId":"getUserName","responses":{"200":{"description":"Object mit dem aktuellen User-Namen","content":{"application/json":{"schema":{"type":"object","required":["name","type","createdAt"],"properties":{"name":{"type":"string"},"type":{"type":"string","enum":["CUS","ACC","FTP","DB","MAIL"]},"createdAt":{"type":"number"}}}}}}}}},"/accounts/{accountIdentifier}":{"get":{"tags":["Accounts"],"summary":"Account auslesen","description":"Diese Operation liest genaue Daten eines einzelnen Accounts aus","operationId":"getAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Account auslesen"},"patch":{"tags":["Accounts"],"summary":"Account bearbeiten","description":"Nehme Änderungen an dem Account vor. Ändere die Beschreibung oder aktiviere/deaktiviere diesen.","operationId":"updateAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":4,"description":"Neue Account Beschreibung"},"active":{"type":"boolean","description":"Account aktivieren oder deaktivieren. Geht nur bei Reseller Unteraccounts."}}}}}},"responses":{"200":{"description":"Information, was geändert worden ist.","content":{"application/json":{"schema":{"type":"object","required":["msg"],"properties":{"msg":{"type":"string"}}}}}},"400":{"description":"Invalide body Daten!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Account updaten"}},"/notifications":{"get":{"tags":["Notification"],"summary":"Notifications auslesen","description":"Liste alle Notifications worauf der Login aktuell rechte hat aus","operationId":"getNotifications","parameters":[{"name":"countOnly","in":"query","description":"Soll nur die ungelesenen Nachrichten gezählt werden? (Performance\nboost)\n","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Die Notifications","content":{"application/json":{"schema":{"type":"object","required":["notifications","unreadCount"],"properties":{"notifications":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}},"unreadCount":{"type":"number"}}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Account auslesen"},"delete":{"tags":["Notification"],"summary":"Notifications löschen","description":"Löscht alle Notifications des eingeloggten Users","operationId":"deleteNotifications","responses":{"204":{"description":"Notifications gelöscht"},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/resellers/{resellerIdentifier}":{"get":{"tags":["Reseller"],"summary":"Reseller auslesen","description":"Diese Operation liest genaue Daten eines einzelnen Resellers aus","operationId":"getReseller","parameters":[{"name":"resellerIdentifier","in":"path","description":"Name oder ID eines Resellers","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der Reseller","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reseller"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Reseller auslesen"}},"/databasetypes":{"get":{"tags":["Database"],"summary":"Datenbanktypen","description":"Datenbanktypen auslesen","operationId":"listDatabaseTypes","responses":{"200":{"description":"Die Datenbanktypen","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DatabaseType"}}}}}},"x-operationName":"Datenbanktypen"}},"/accounts/{accountIdentifier}/domains":{"get":{"tags":["Domains"],"summary":"Domains eines Accounts auslesen","description":"Diese Operation liest die Domains eines einzelnen Accounts aus","operationId":"listDomainsByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Anzahl der zurückzuliefernden Domains.","schema":{"type":"integer","default":20}},{"name":"offset","in":"query","description":"Offset für die Limitierung der Suchergebnisse","schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Die Domains des Accounts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Domain"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Domains eines Accounts auslesen"},"post":{"tags":["Domains"],"summary":"Domain registrieren/Transfer einleiten","description":"Diese Operation kann genutzt werden, um für den gegebenen Account eine neue Domain zu registrieren oder einen Virtual Host Eintrag zu erstellen. Falls die Domain bereits vergeben ist, müssen ein Auth-Code und unter Umständen ein Authentifizierungsverfahren mitangegeben werden, um einen Domain-Transfer einzuleiten.","operationId":"registerNewDomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Daten für eine Domain-Registrierung","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainRegistration"}}},"required":true},"responses":{"201":{"description":"Die erstellte Domain","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Domain"}}}}},"400":{"description":"Fehlendes oder fehlerhaftes Argument.","content":{}}},"x-operationName":"Domain registrieren/Transfer einleiten","x-codegen-request-body-name":"body"}},"/accounts/{accountIdentifier}/domains/{domainIdentifier}/certificate":{"delete":{"tags":["Domains"],"summary":"Let's Encrypt Zertifikat einer Domain löschen","description":"Diese Operation löscht das Let's Encrypt Zertifikat einer Domain","operationId":"deleteCertificateByDomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Domain deren Zertifikat gelöscht werden soll","schema":{"type":"string"}}],"responses":{"200":{"description":"Zertifikat erfolgreich gelöscht"},"400":{"description":"Ungültige Anfrage, Zertifikat nicht Let's Encrypt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Zertifikat nicht gefunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Let's Encrypt Zertifikat einer Domain löschen"}},"/accounts/{accountIdentifier}/domainsproxies":{"get":{"tags":["Domains"],"summary":"Domain Proxies eines Accounts","description":"Zeige alle aktiven Domain Proxies eines Accounts an","operationId":"domainProxyList","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Liste alle aktiven Domain Proxies.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DomainProxy"}}}}}},"x-operationName":"Domain Proxies eines Accounts"}},"/accounts/{accountIdentifier}/domains/{domainIdentifier}":{"delete":{"tags":["Domains"],"summary":"Domain löschen/kündigen","description":"Löscht bzw. kündigt eine bestehende Domain","operationId":"deleteDomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Vollständiger Name der Domain","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Anfrage wurde erfolgreich verarbeitet","content":{}},"400":{"description":"Eine Domain mit zugehörigem SSL-Zertifikat oder Exchange kann nicht gelöscht werden.","content":{}}},"x-operationName":"Domain löschen/kündigen"}},"/accounts/{accountIdentifier}/domains/{domainIdentifier}/authcode":{"get":{"tags":["Domains"],"summary":"Auth-Code einer Domain auslesen","description":"Liefert den Auth-Code einer Domain","operationId":"getDomainAuthCode","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Vollständiger Name der Domain","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain Auth-Code Information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainAuthCode"}}}},"404":{"description":"Domain konnte nicht gefunden werden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Auth-Code einer Domain auslesen"}},"/accounts/{accountIdentifier}/domains/{domainIdentifier}/subdomains":{"get":{"tags":["Domains","Subdomain"],"summary":"Subdomains eines Accounts auslesen","description":"Liefert alle verfügbaren Subdomains eines Accounts","operationId":"listSubdomainsByDomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Vollständiger Name der Domain","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Liste der Subdomains","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Subdomain"}}}}}},"x-operationName":"Subdomains eines Accounts auslesen"},"post":{"tags":["Domains","Subdomain"],"summary":"Subdomain erstellen","description":"Erstellt eine neue Subdomain","operationId":"createSubdomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Vollständiger Name der Domain","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Daten der neuen Subdomain","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubdomainCreationBody"}}}},"required":true},"responses":{"201":{"description":"Subdomain wurde erfolgreich erstellt","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Subdomain"}}}}},"400":{"description":"Subdomain existiert bereits","content":{}}},"x-operationName":"Subdomain erstellen","x-codegen-request-body-name":"body"},"delete":{"tags":["Domains","Subdomain"],"summary":"Subdomain löschen","description":"Löscht eine bestehende Subdomain","operationId":"deleteSubdomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Vollständiger Name der Domain","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Subdomain wurde erfolgreich gelöscht","content":{}},"400":{"description":"Eine Subdomain mit zugehörigem SSL-Zertifikat kann nicht gelöscht werden.","content":{}}},"x-operationName":"Subdomain löschen"}},"/accounts/{accountIdentifier}/domains/{domainIdentifier}/subdomains/{subdomainIdentifier}":{"get":{"tags":["Subdomain"],"summary":"Subdomain auslesen","description":"Liefert eine spezifische Subdomain","operationId":"getSubdomain","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"domainIdentifier","in":"path","description":"Vollständiger Name der Domain","required":true,"schema":{"type":"string"}},{"name":"subdomainIdentifier","in":"path","description":"Vollständiger Name der Subdomain","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die gewünschte Subdomain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subdomain"}}}}},"x-operationName":"Subdomain auslesen"}},"/accounts/{accountIdentifier}/domainrecords":{"get":{"tags":["Domains"],"summary":"Domainrecords eines Accounts auslesen","description":"Diese Operation liest die Domainrecords eines einzelnen Accounts aus","operationId":"listDomainrecordsByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Anzahl der zurückzuliefernden Domains.","schema":{"type":"integer","default":20}},{"name":"offset","in":"query","description":"Offset für die Limitierung der Suchergebnisse","schema":{"type":"integer","default":0}},{"name":"visibleOnly","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Die Domainrecords des Accounts","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["domainName","fullName","isSubDomain","isUsingMittwaldMailsystem","tld","status"],"properties":{"account":{"type":"object","properties":{"customerNumber":{"type":"number"},"description":{"type":"string"},"disabled":{"type":"boolean"},"name":{"type":"string"},"status":{"type":"string"},"uid":{"type":"number"},"virtual":{"type":"boolean"}}},"certificate":{"type":"object","properties":{"altNames":{"type":"array","items":{"type":"string"}},"commonName":{"type":"string"},"isInclusive":{"type":"boolean"},"stage":{"type":"string"},"statusDescription":{"type":"string"},"uid":{"type":"number"}}},"domainName":{"type":"string"},"forceHttps":{"type":"boolean"},"fullName":{"type":"string"},"ipAddress":{"type":"string"},"isSubDomain":{"type":"boolean"},"isUsingMittwaldMailsystem":{"type":"boolean"},"registrarStatus":{"type":"string"},"status":{"type":"number"},"target":{"type":"string"},"tld":{"type":"string"},"uid":{"type":"number"}}}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Domainrecords eines Accounts auslesen"}},"/accounts/{accountIdentifier}/certificates":{"get":{"tags":["Zertifikate"],"summary":"Zertifikate eines Accounts auslesen","description":"Liest alle Zertifikate des gegebenen Accounts aus","operationId":"getAllCertificates","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Liste der Zertifikate des Accounts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Certificate"}}}}}}},"post":{"tags":["Zertifikate"],"summary":"Zertifikate anlegen/upgraden","description":"Legt ein neues Zertifikat an oder upgraded ein bestehendes","operationId":"createOrUpgradeCertificates","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Daten der zu erstellenden/upgradenden Zertifikate","content":{"application/json":{"schema":{"required":["article","domains"],"type":"object","properties":{"article":{"type":"integer","description":"Die Artikelnummer für alle neuen Zertifikate, 9556 für Let's Encrypt\n"},"domains":{"type":"array","items":{"type":"string","description":"Vollständiger Name der gewünschten Domain"}}}}}}},"responses":{"200":{"description":"Zertifikatupgrades erfolgreich angestoßen für gefundene Domains","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateCreateOrUpgradeResponse"}}}},"201":{"description":"Zertifikaterstellungen angestoßen für gefundene Domains","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateCreateOrUpgradeResponse"}}}},"202":{"description":"Zertifikatupgrades und -erstellungen erfolgreich angestoßen für gefundene Domains","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateCreateOrUpgradeResponse"}}}},"400":{"description":"Ungültige Anfrage. Dies kann beispielsweise geschehen, wenn die Anfrage ungültig codierte Inhalte enthält oder der Inhalt semantisch inkorrekt ist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Zertifikate anlegen/upgraden"}},"/accounts/{accountIdentifier}/mailaddresses":{"get":{"tags":["Mailadressen"],"summary":"Mailadressen eines Accounts auslesen","description":"Diese Operation liest die Mailadressen eines einzelnen Accounts aus","operationId":"listEmailAddressesByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Anzahl der zurückzuliefernden Domains.","schema":{"type":"integer","default":20}},{"name":"offset","in":"query","description":"Offset für die Limitierung der Suchergebnisse","schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Die Mailadressen des Accounts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MailAddress"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Mailadressen eines Accounts auslesen"}},"/accounts/{accountIdentifier}/cronjobs":{"get":{"tags":["Cronjob"],"summary":"Cronjobs eines Accounts auslesen","description":"Diese Operation liest die Cronjobs eines einzelnen Accounts aus","operationId":"listCronjobsByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die Verzeichnisse und Dateien des Accounts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cronjob"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Cronjobs eines Accounts auslesen"},"post":{"tags":["Cronjob"],"summary":"Neuen Cronjob anlegen","description":"Diese Operation legt einen neuen Cronjob an","operationId":"createCronjob","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Der anzulegende Cronjob","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCronjob"}}}},"responses":{"200":{"description":"Der angelegte Cronjob","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cronjob"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Cronjobs eines Accounts auslesen"}},"/accounts/{accountIdentifier}/cronjobs/{cronjobIdentifier}":{"get":{"tags":["Cronjob"],"summary":"Spezifischen Cronjob eines Accounts auslesen","description":"Diese Operation liest einen spezifischen Cronjob eines Accounts aus","operationId":"getCronjob","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"cronjobIdentifier","in":"path","description":"ID eines Cronjobs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der angeforderte Cronjob","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cronjob"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Spezifischen Cronjob eines Accounts auslesen"}},"/accounts/{accountIdentifier}/cronjobs/benefits":{"get":{"tags":["Cronjob"],"summary":"Cronjob-Benefits eines Accounts auslesen","description":"Diese Operation liest die Cronjob-Benefits eines Accounts aus","operationId":"getCronjobBenefitsByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die Cronjob-Benefits des Accounts","content":{"application/json":{"schema":{"type":"object","required":["allowCustom","max"],"properties":{"minInterval":{"type":"number"},"allowCustom":{"type":"boolean"},"max":{"type":"number"}}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Cronjob-Benefits eines Accounts auslesen"}},"/cronjobs/{cronjobIdentifier}":{"put":{"tags":["Cronjob"],"summary":"Spezifischen Cronjob eines Accounts bearbeiten","description":"Diese Operation bearbeitet einen spezifischen Cronjob eines Accounts aus","operationId":"updateCronjob","parameters":[{"name":"cronjobIdentifier","in":"path","description":"ID eines Cronjobs","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customTimeoutMode":{"type":"number","enum":[0,1]},"customTimeoutValue":{"type":"number"},"enabled":{"type":"boolean"},"errorReporting":{"type":"string","enum":["NONE","MAIL_ON_FAILURE","MAIL"]},"errorReportingEmail":{"type":"string"},"file":{"type":"string"},"url":{"type":"string"},"interpreter":{"type":"number"},"interval":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"params":{"type":"string"},"type":{"type":"string","enum":["SERVER","BROWSER","INTERPRETER"]}}}}}},"responses":{"200":{"description":"Der modifizierte Cronjob","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cronjob"}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"410":{"description":"Cronjob ist gelöscht, kann nicht bearbeitet werden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"423":{"description":"Cronjob aktuell blockiert, kann aktuell nicht bearbeitet werden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Spezifischen Cronjob eines Accounts bearbeiten"},"delete":{"tags":["Cronjob"],"summary":"Cronjob löschen","description":"Diese Operation löscht einen Cronjob","operationId":"deleteCronjob","parameters":[{"name":"cronjobIdentifier","in":"path","description":"ID eines Cronjobs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cronjob erfolgreich gelöscht"},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Cronjob löschen"}},"/cronjobs/interpreter":{"get":{"tags":["Cronjob"],"summary":"Interpreter für Cronjobs auslesen","description":"Diese Operation liest die die Interpreter für Cronjobs aus","operationId":"getCronjobInterpreters","responses":{"200":{"description":"Die Interpreter für Cronjobs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CronjobInterpreter"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Interpreter für Cronjobs auslesen"}},"/cronjobs/intervaltemplates":{"get":{"tags":["Cronjob"],"summary":"Intervalltemplates für Cronjobs auslesen","description":"Diese Operation liest die die Intervalltemplates für Cronjobs aus","operationId":"getCronjobIntervaltemplates","responses":{"200":{"description":"Die Intervalltemplates für Cronjobs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CronjobIntervalTemplate"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Intervalltemplates für Cronjobs auslesen"}},"/cronjobs/softwaretemplates":{"get":{"tags":["Cronjob"],"summary":"Cronjob-Softwaretemplates auslesen","description":"Diese Operation liest die die Cronjob-Softwaretemplates aus","operationId":"getCronjobSoftwaretemplates","responses":{"200":{"description":"Die Cronjob-Softwaretemplates","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CronjobSoftwareTemplate"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Cronjob-Softwaretemplates auslesen"}},"/accounts/{accountIdentifier}/directories":{"get":{"tags":["Accounts"],"summary":"Verzeichnisstruktur eines Accounts auslesen","description":"Diese Operation liest die Verzeichnisstruktur eines einzelnen Accounts aus","operationId":"listDirectoriesByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"directory","in":"query","description":"Verzeichnispfad welcher ausgelesen wird","schema":{"type":"string"}}],"responses":{"200":{"description":"Die Dateistruktur des Accounts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DirectoryOrFileMeta"}}}}},"403":{"description":"Zugriff verweigert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Datei(-pfad) nicht gefunden"},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Verzeichnisstruktur eines Accounts auslesen"}},"/software":{"get":{"tags":["Software"],"summary":"Unterstützte Software auslesen","description":"Liest die mögliche Software für eine Neu-Bestellung aus","operationId":"listSoftwares","responses":{"200":{"description":"Array an unterstützter Software","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Software"}}}}}},"x-operationName":"Unterstützte Software auslesen"}},"/accounts/{accountIdentifier}/installations":{"get":{"tags":["Accounts","Software"],"summary":"Softwareinstallationen auslesen","description":"Diese Operation liest alle Softwareinstallationen eines einzelnen Accounts aus","operationId":"listSoftwareInstallationsByAccount","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"installPath","in":"query","description":"Filtert Software-Installationen nach Installationspfad (z.B. `&installPath=%2Fhtml%2Ftypo3`)","schema":{"type":"string"}}],"responses":{"200":{"description":"Im Account installierte Software","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SoftwareInstallation"}}}}}},"x-operationName":"Softwareinstallationen auslesen"}},"/accounts/{accountIdentifier}/installations/actions/update-php":{"post":{"tags":["Accounts","Software"],"summary":"PHP Updaten","description":"PHP Version vom übergebenen Account auf neue Zielversion updaten","operationId":"updatePhp","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"description":"Request Body des Update-Prozesses","content":{"application/json":{"schema":{"type":"object","required":["version"],"properties":{"version":{"type":"string","description":"Major & Minor Versions-Nummer, z.B. \"8.1\""}}}}}},"responses":{"200":{"description":"Erfolgreich geupdatet.","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}}}}}},"400":{"description":"Invalide Eingabeparameter","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}}}}}},"402":{"description":"Aktion würde Geld kosten und ist für diese Art von Login verboten.","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}}}}}},"404":{"description":"Ziel Version oder PHP Installation nicht gefunden.","content":{"application/json":{"schema":{"type":"object","properties":{"msg":{"type":"string"}}}}}}},"x-operationName":"PHP Installation updaten"}},"/installations/{installationIdentifier}":{"get":{"tags":["Software"],"summary":"Details einer Softwareinstallation auslesen","description":"Diese Operation liest Details zu einer ganz bestimmten Softwareinstallation aus","operationId":"getSoftwareInstallation","parameters":[{"name":"installationIdentifier","in":"path","description":"ID einer Software-Installation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Details der angegebenen Software-Installation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoftwareInstallation"}}}}},"x-operationName":"Details einer Softwareinstallation auslesen"}},"/installations/{installationIdentifier}/extensions":{"get":{"tags":["Software"],"summary":"Extensions einer Softwareinstallation auslesen","description":"Diese Operation liest Extensions aus, die in einer bestimmten\nSoftwareinstallation installiert sind.\n\n**Hinweis**: Diese Daten werden in der Regel einmal täglich aktualisiert.\n","operationId":"listSoftwareInstallationExtensions","parameters":[{"name":"installationIdentifier","in":"path","description":"ID einer Software-Installation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Details der angegebenen Software-Installation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SoftwareExtension"}}}}}},"x-operationName":"Extensions einer Softwareinstallation auslesen"}},"/customer":{"get":{"tags":["Kunden"],"summary":"Details zu dem aktuellem Kunden","description":"Liefert Details zum aktuellen Kunden.","operationId":"getCurrentCustomer","responses":{"200":{"description":"Die Kunden Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}}},"x-operationName":"Details zu dem aktuellem Kunden"}},"/customers/self":{"get":{"tags":["Kunden"],"summary":"Details zum aktuell eingeloggten Kunden","description":"Liefert Details zum aktuell eingeloggten Kunden","operationId":"getOwnCustomer","responses":{"200":{"description":"Die Kundendetails","content":{"application/json":{"schema":{"type":"object","required":["customerNumber"],"properties":{"customerNumber":{"type":"number"}}}}}}}}},"/customers/{customerNumber}":{"get":{"tags":["Kunden"],"summary":"Kundendetails auslesen","description":"Diese Ressource enthält Detailinformationen zu einem bestimmten Kunden.","operationId":"getCustomer","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Eine Beschreibung des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Kundendetails auslesen"}},"/customers/{customerNumber}/contractpartner":{"get":{"tags":["Kunden"],"summary":"Vertragspartner auslesen","description":"Diese Operation liefert Details zum Vertragspartner eines Kunden zurück","operationId":"getCustomerContractPartner","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Eine Beschreibung des Vertragspartners des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPartner"}}}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Vertragspartner auslesen"},"put":{"tags":["Kunden"],"summary":"Vertragspartner ändern","description":"Über diese Operation können die Vertragspartnerdaten eines Kunden geändert werden","operationId":"updateCustomerContractPartner","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Die zu ändernden Vertragspartnerdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContact"}}},"required":true},"responses":{"200":{"description":"Vertragspartner eines Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPartner"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"type":"object","required":["msg","reason","trace"],"properties":{"msg":{"type":"string"},"reason":{"type":"string"},"trace":{"type":"string"}}}}}}},"x-operationName":"Vertragspartner ändern","x-codegen-request-body-name":"updateContractPartnerRequest"}},"/customers/{customerNumber}/contactperson":{"get":{"tags":["Kunden"],"summary":"Ansprechpartner auslesen","description":"Diese Operation liefert Details zum Ansprechpartner eines Kunden zurück. Der Ansprechpartner kann identisch mit dem Vertragspartner sein; in diesem Fall wird die Anfrage mit einem 303-Statuscode beantwortet, und der `Location`-Header enthält die URL des Vertragspartners, der in diesem Fall als Ansprechpartner gilt.","operationId":"getCustomerContactPerson","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Eine Beschreibung des Ansprechpartners des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPartner"}}}},"301":{"description":"Für den Fall, dass Ansprech- und Vertragspartner identisch sind, wird eine Weiterleitung auf den Vertragspartner zurück geliefert.","headers":{"Location":{"description":"Die URL des Vertragspartners, der in diesem Fall auch Ansprechpartner ist","schema":{"type":"string"}}},"content":{}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Ansprechpartner auslesen"},"put":{"tags":["Kunden"],"summary":"Ansprechpartner ändern","description":"Über diese Operation lassen sich die Daten des Ansprechpartners eines Kunden ändern. Dabei kann der Ansprechpartner über den Request-Body-Parameter \"identicalToDefaultAddress\" ebenfalls identisch zum Vertragspartner gesetzt werden.","operationId":"updateCustomerContactPerson","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Die zu ändernden Ansprechpartnerdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactUpdateRequest"}}},"required":true},"responses":{"200":{"description":"The customer contact person object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPartner"}}}},"403":{"description":"When the user is not authorized to access this customer. To prevent information disclosure, this API does not differentiate between non-existing customers (which could be responsed to with a 404 status code) and unauthorized customers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Ansprechpartner ändern","x-codegen-request-body-name":"updateContactPersonRequest"}},"/customers/{customerNumber}/paymentsettings":{"get":{"tags":["Kunden"],"summary":"Zahlungseinstellungen auslesen","operationId":"getCustomerPaymentSettings","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Die Zahlungseinstellungen des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentSettings"}}}}},"x-operationName":"Zahlungseinstellungen auslesen"},"put":{"tags":["Kunden"],"summary":"Zahlungseinstellungen ändern","operationId":"updateCustomerPaymentSettings","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Neue Zahlungseinstellungen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentSettings"}}},"required":true},"responses":{"200":{"description":"Die Zahlungseinstellungen des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentSettings"}}}}},"x-operationName":"Zahlungseinstellungen ändern","x-codegen-request-body-name":"paymentSettings"}},"/customers/{customerNumber}/billingrecipient":{"get":{"tags":["Kunden"],"summary":"Rechungsempfänger auslesen","operationId":"getCustomerBillingRecipient","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Der Rechnungsempfänger des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPartner"}}}},"301":{"description":"Für den Fall, dass Rechnungsempfänger und Vertragspartner identisch sind, wird eine Weiterleitung auf den Vertragspartner zurück geliefert.","headers":{"Location":{"description":"Die URL des Vertragspartners, der in diesem Fall auch Rechnungsempfänger ist","schema":{"type":"string"}}},"content":{}}},"x-operationName":"Rechungsempfänger auslesen"},"put":{"tags":["Kunden"],"summary":"Rechnungsempfänger ändern","operationId":"updateCustomerBillingRecipient","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Neuer Rechnungsempfänger","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContact"}}},"required":true},"responses":{"200":{"description":"Der Rechnungsempfänger des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPartner"}}}}},"x-operationName":"Rechnungsempfänger ändern","x-codegen-request-body-name":"billingRecipient"},"delete":{"tags":["Kunden"],"summary":"Rechnungsempfänger eines Kunden zurücksetzen","description":"Diese Operation setzt den Rechnungsempfänger eines Kunden auf den Vertragspartner zurück","operationId":"resetCustomerBillingRecipient","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"204":{"description":"Leere Antwort","content":{}}},"x-operationName":"Rechnungsempfänger eines Kunden zurücksetzen"}},"/customers/{customerNumber}/billingsettings":{"get":{"tags":["Kunden"],"summary":"Rechungseinstellungen auslesen","operationId":"getCustomerBillingSettings","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Die Rechungseinstellungen des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerBillingSettings"}}}}},"x-operationName":"Rechungseinstellungen auslesen"},"put":{"tags":["Kunden"],"summary":"Rechnungseinstellungen ändern","operationId":"updateCustomerBillingSettings","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Neue Zahlungseinstellungen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerBillingSettings"}}},"required":true},"responses":{"200":{"description":"Die Zahlungseinstellungen des Kunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerBillingSettings"}}}}},"x-operationName":"Rechnungseinstellungen ändern","x-codegen-request-body-name":"billingSettings"}},"/customers/{customerNumber}/invoices":{"get":{"tags":["Kunden"],"summary":"Rechnungen eines Kunden","description":"Diese Ressource enthält eine Sammlung aller Rechnungen eines Kunden","operationId":"listInvoicesByCustomer","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Eine Liste aller Rechnungen des Kunden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Invoice"}}}}}},"x-operationName":"Rechnungen auslesen"}},"/customers/{customerNumber}/accounts":{"get":{"tags":["Accounts","Kunden"],"summary":"Accounts eines Kunden","description":"Diese Ressource enthält eine Sammlung aller Accounts eines Kunden.","operationId":"listAccountsByCustomer","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}},{"name":"advised","in":"query","description":"Dieser Parameter steuert, ob auch Accounts zurückgeliefert werden sollen,\nfür die eine Verwaltungsfreigabe besteht, aber nicht zur Kundennummer\n`{customerNumber}` gehören.'\n","schema":{"type":"boolean","default":false}},{"name":"owned","in":"query","description":"Dieser Parameter steuert, ob Accounts zurückgeliefert werden sollen, die\ndirekt der Kundennummer `{customerNumber}` gehören. Dieser Parameter hat standardmäßig\nden Wert `true`; über den Wert `false` können in Kombination mit dem Parameter\n`advised` ausschließlich Accounts abgefragt werden, für die eine Verwaltungsfreigabe\nbesteht.\n","schema":{"type":"boolean","default":true}},{"name":"fields","in":"query","description":"Felder die beim Ergebnis inkludiert werden","schema":{"type":"string"}}],"responses":{"200":{"description":"Eine Liste aller Accounts, die dem Kunden gehören","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"x-operationName":"Accounts auslesen"}},"/customers/{customerNumber}/benefits/{benefit}":{"get":{"tags":["Kunden"],"summary":"Details zu einer gebuchten Leistung","description":"Liefert Details zu einer gebuchten Leistung.","operationId":"getBenefitDetails","parameters":[{"name":"customerNumber","in":"path","description":"Kundennummer","required":true,"schema":{"type":"integer"}},{"name":"benefit","in":"path","description":"Leistung","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die Leistung","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Benefit"}}}}},"x-operationName":"Details zu einer gebuchten Leistung"}},"/customers/{customerNumber}/contracts":{"get":{"tags":["Verträge"],"summary":"Verträge auslesen","description":"Liefert alle Verträge eines Kunden","operationId":"listContractsByCustomer","parameters":[{"name":"customerNumber","in":"path","description":"Die Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Die Verträge des Kunden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Contract"}}}}}},"x-operationName":"Verträge auslesen"}},"/customers/{customerNumber}/cancelledcontracts":{"get":{"tags":["Verträge"],"summary":"Verträge eines Kunden, die sich aktuell im Kündigungsprozess befinden","description":"Liefert alle Verträge eines Kunden, die aktuell gekündigt werden und sich noch nicht länger als 5 Tage in diesem Prozess befinden","operationId":"listCancelledContractsByCustomer","parameters":[{"name":"customerNumber","in":"path","description":"Die Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Die sich aktuell im Kündigungsprozess befindenden Verträge des Kunden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Contract"}}}}}},"x-operationName":"Verträge eines Kunden, die sich aktuell im Kündigungsprozess befinden"}},"/customers/{customerNumber}/dsgvocontractstatus":{"get":{"tags":["Kunden"],"summary":"Status des AV-Vertrags eines Kunden mit mittwald","description":"Liefert den Status des AV-Vertrages eines Kunden mit mittwald, falls kein Vertrag unterschrieben ist wird zusätzlich eine iFrameUrl zum Ausfüllen zurückgegeben","operationId":"getAvContractStatus","parameters":[{"name":"customerNumber","in":"path","description":"Die Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Der Status des AV-Vertrages ggf. mit iFrameUrl zum Ausfüllen","content":{"application/json":{"schema":{"type":"object","required":["signed"],"properties":{"signed":{"type":"boolean"},"iframeUrl":{"type":"string"}}}}}}},"x-operationName":"Der Status des AV-Vertrages ggf. mit iFrameUrl zum Ausfüllen"}},"/customers/{customerNumber}/settings":{"get":{"tags":["Kunden"],"summary":"Hole Einstellungen eines Kunden.","description":"Hole alle vom Kunden setzbare Einstellungen.","operationId":"getCustomerSettings","parameters":[{"name":"customerNumber","in":"path","description":"Die Kundennummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Die Einstellungen des Kunden.","content":{"application/json":{"schema":{"type":"object","required":["customerNumber","language"],"properties":{"customerNumber":{"type":"number"},"language":{"type":"string"}}}}}}},"x-operationName":"Kunden Einstellungen auslesen","x-codegen-request-body-name":"getCustomerSettings"},"post":{"tags":["Kunden"],"summary":"Setze Einstellungen des Kunden.","description":"Setze die Kunden Einstellungen, wie z.B. Sprache.","operationId":"setCustomerSettings","parameters":[{"name":"customerNumber","in":"path","description":"Die Kundennummer","required":true,"schema":{"type":"integer"}}],"requestBody":{"description":"Die zu ändernden Einstellungen.","content":{"application/json":{"schema":{"type":"object","required":["language"],"properties":{"language":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"Die Einstellungen des Kunden.","content":{"application/json":{"schema":{"type":"object","required":["customerNumber","language"],"properties":{"customerNumber":{"type":"number"},"language":{"type":"string"}}}}}}},"x-operationName":"Kunden Einstellungen setzten","x-codegen-request-body-name":"setCustomerSettings"}},"/customers/{customerNumber}/php-accounts":{"get":{"tags":["Kunden"],"summary":"Hole PHP Accounts eines Kunden.","description":"Hole alle vom Kunden einsehbaren PHP-Accounts.","operationId":"getCustomerPhpAccounts","parameters":[{"name":"customerNumber","in":"path","description":"Die Kundennummer","required":true,"schema":{"type":"integer"}},{"name":"type","in":"query","description":"Typ der Antwort","schema":{"type":"string","enum":["json","csv"]}},{"name":"extra","in":"query","description":"Extra Details zum Account mitliefern","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Die Accounts mit PHP des Kunden.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["account","description","phpVersion","priceInCent","reseller","tariff","comment","feeStartDate","status"],"properties":{"account":{"type":"string"},"description":{"type":"string"},"phpVersion":{"type":"string"},"priceInCent":{"type":"number"},"reseller":{"type":"string"},"tariff":{"type":"string"},"comment":{"type":"string"},"installations":{"type":"string"},"feeStartDate":{"type":"string","format":"date"},"startDate":{"type":"string","format":"date"},"graveyardDate":{"type":"string","format":"date"},"purgeDate":{"type":"string","format":"date"},"status":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["DEACTIVATED","TYPO3_ELTS_INCLUSIVE","GRACE_PERIOD"]},"additionalInfo":{"type":"number"}}}},"extra":{"type":"object","required":["domainCount","mailboxCount"],"properties":{"domainCount":{"type":"number"},"mailboxCount":{"type":"number"}}}}}}},"application/force-download":{"schema":{"type":"string"}}}}},"x-operationName":"Kunden PHP Accounts auslesen","x-codegen-request-body-name":"getCustomerPhpAccounts"}},"/invoices/{invoiceNumber}":{"get":{"tags":["Kunden"],"summary":"Rechnung eines Kunden","description":"Diese Ressource repräsentiert eine einzelne Rechnung.\n\nÜber den `Accept`-Header kann gesteuert werden, ob die Daten dieser Rechnung als\nJSON-Dokument oder das tatsächliche Rechnungsdokument als PDF abgerufen werden sollen.\n","operationId":"getInvoice","parameters":[{"name":"invoiceNumber","in":"path","description":"Rechnungsnummer","required":true,"schema":{"type":"integer"}},{"name":"Accept","in":"header","description":"Das erwünschte Format (`application/json` oder `application/pdf`)","schema":{"type":"string"}}],"responses":{"200":{"description":"Die Rechnung","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}}},"x-operationName":"Rechnung auslesen"}},"/invoices/{invoiceNumber}/paymentreceipts":{"get":{"tags":["Kunden"],"summary":"Zahlungseingänge einer Rechnung","description":"Liest erfasste Buchungen zu einer bestimmten Rechnung aus","operationId":"getPaymentReceipts","parameters":[{"name":"invoiceNumber","in":"path","description":"Rechnungsnummer","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Eine Liste von Buchungen","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentReceipt"}}}}}},"x-operationName":"Zahlungseingänge auslesen"}},"/offers":{"post":{"tags":["Angebote"],"summary":"Neues Angebot anfordern","description":"Über diese Operation kann ein neues Angebot angefordert werden","operationId":"requestQuote","requestBody":{"description":"Die Angebotsanfrage; diese enthält Daten zu den angefragten Artikeln sowie notwendige Kundenstammdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OfferRequest"}}},"required":true},"responses":{"202":{"description":"Die Anfrage wurde zur Bearbeitung angenommen","content":{}},"400":{"description":"Ungültige Anfrage. Dies kann beispielsweise geschehen, wenn die Anfrage ungültig codierte Inhalte enthält oder der Inhalt semantisch inkorrekt ist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Neues Angebot anfordern","x-codegen-request-body-name":"offerRequest"}},"/orders/preUpgradeCheck/{accountIdentifier}/{articleNumber}":{"get":{"tags":["Bestellungen"],"summary":"Pre-Upgrade Check","description":"Führt ein Check im Vorfeld aus, was sich bei einem Upgrade zu Artikel X ändern würde.","operationId":"orderPreUpgradeCheck","parameters":[{"name":"accountIdentifier","in":"path","description":"Name oder ID eines Accounts","required":true,"schema":{"type":"string"}},{"name":"articleNumber","in":"path","description":"Artikelnummer","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ergebnis des Checks","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderPreUpgradeCheck"}}}},"400":{"description":"Ungültige Anfrage. Dies kann beispielsweise geschehen, wenn die Anfrage ungültig codierte Inhalte enthält oder der Inhalt semantisch inkorrekt ist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Zugriff verboten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Nicht gefunden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Pre-Upgrade Check"}},"/orders/partnerprogram":{"post":{"tags":["Bestellungen","Partner"],"summary":"Anmeldung am Partnerprogramm","description":"Über diese Operation kann ein Kunde am Partnerprogramm angemeldet werden.\n\n**Achtung**: Ist der Nutzer der API als Kunde authentifiziert (d.h. ein API-Token über den `/authenticate`-Endpunkt bezogen hat), ist die erneute Angabe von Kundenstammdaten im Request (hier über das `customer`-Attribut) nicht notwendig. Dennoch übergebene Kundenstammdaten werden zugunsten der bereits im System hinterlegten ignoriert.\n","operationId":"orderPartnerProgram","requestBody":{"description":"Die Bestellanfrage; diese enthält notwendige Kundenstammdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerHostingOrderRequest"}}},"required":true},"responses":{"202":{"description":"Die Anfrage wurde zur Bearbeitung angenommen","content":{}},"400":{"description":"Ungültige Anfrage. Dies kann beispielsweise geschehen, wenn die Anfrage ungültig codierte Inhalte enthält oder der Inhalt semantisch inkorrekt ist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Anmeldung am Partnerprogramm","x-codegen-request-body-name":"partnerHostingOrderRequest"}},"/orders/partnerbox":{"post":{"tags":["Bestellungen","Partner"],"summary":"Bestellung eines Partnerbox","description":"Über diese Operation kann ein neues Partnerbox bestellt werden.\n\n**Achtung**: Ist der Nutzer der API als Kunde authentifiziert (d.h. ein\nAPI-Token über den `/authenticate`-Endpunkt bezogen hat), ist die\nerneute Angabe von Kundenstammdaten im Request (hier über das\n`customer`-Attribut) nicht notwendig. Dennoch übergebene Kundenstammdaten\nwerden zugunsten der bereits im System hinterlegten ignoriert.\n","operationId":"orderPartnerBox","requestBody":{"description":"Die Bestellanfrage; diese enthält notwendige Kundenstammdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerHostingOrderRequest"}}},"required":true},"responses":{"202":{"description":"Die Anfrage wurde zur Bearbeitung angenommen","content":{}},"400":{"description":"Ungültige Anfrage. Dies kann beispielsweise geschehen, wenn die Anfrage ungültig codierte Inhalte enthält oder der Inhalt semantisch inkorrekt ist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Zugriff verweigert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Bei der Verarbeitung der Anfrage ist ein Fehler aufgetreten.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-operationName":"Bestellung eines Partnerbox","x-codegen-request-body-name":"partnerHostingOrderRequest"}},"/articles":{"get":{"tags":["Artikel"],"summary":"Suche nach Artikeln","description":"Diese Operation liefert eine Liste von Artikeln zurück, die den angegebenen Suchparametern entsprechen.","operationId":"listArticles","parameters":[{"name":"fields","in":"query","description":"Auszuliefernde Felder, als kommaseparierte Liste.\nBeispiel: `articleNumber,description`","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Anzahl der zurückzuliefernden Artikel.","schema":{"type":"integer","default":20}},{"name":"offset","in":"query","description":"Offset für die Limitierung der Suchergebnisse","schema":{"type":"integer","default":0}},{"name":"articles","in":"query","description":"Kommaseparierte-Liste von Artiklenummern","schema":{"type":"string"}}],"responses":{"200":{"description":"Eine Liste von Artikeln","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Article"}}}}}},"x-operationName":"Suche nach Artikeln"}},"/articles/{articleNumber}":{"get":{"tags":["Artikel"],"summary":"Artikeldetails","description":"Artikeldetails auslesen","operationId":"getArticle","parameters":[{"name":"articleNumber","in":"path","description":"Artikelnummer","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Auszuliefernde Felder, als kommaseparierte Liste. Beispiel:\n`articleNumber,description`\n","schema":{"type":"string"}}],"responses":{"200":{"description":"Der Artikel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Article"}}}}},"x-operationName":"Artikeldetails"}},"/articles/{articleNumber}/cross-selling":{"get":{"tags":["Artikel"],"summary":"Cross-Selling Optionen","description":"Liefert alle möglichen Cross-Selling Artikel aus","operationId":"getCrossSellingOptions","parameters":[{"name":"articleNumber","in":"path","description":"Artikelnummer","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die Cross-Selling Optionen","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArticleOption"}}}}}},"x-operationName":"Cross-Selling Optionen"}},"/articles/{articleNumber}/upgrades":{"get":{"tags":["Artikel"],"summary":"Artikel Upgrades","description":"Liefert alle möglichen Upgrades für diesen Artikel aus","operationId":"getArticleUpgrades","parameters":[{"name":"articleNumber","in":"path","description":"Artikelnummer","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die Upgrade Optionen","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArticleUpgradeOption"}}}}}},"x-operationName":"Artikel Upgrades"}},"/carts":{"post":{"tags":["Warenkorb"],"summary":"Warenkorb erstellen","description":"Erstellt einen neuen Warenkorb","operationId":"createCart","requestBody":{"content":{"*/*":{"schema":{"title":"Formular-Body","type":"object","properties":{"forcePartnerId":{"type":"string","description":"Der Commission Code, welcher im weiteren Verlauf der Bestellstrecke nie wieder geändert werden kann."}}}}},"required":false},"responses":{"201":{"description":"Der Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb erstellen","x-codegen-request-body-name":"payload"}},"/carts/{cartIdentifier}":{"get":{"tags":["Warenkorb"],"summary":"Warenkorb auslesen","description":"Liefert einen bestehenden Warenkorb aus","operationId":"getCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb auslesen"},"put":{"tags":["Warenkorb"],"summary":"Warenkorb bearbeiten","description":"Aktualisiert einen bestehenden Warenkorb","operationId":"updateCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Der neue Warenkorb","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Cart"}}},"required":true},"responses":{"200":{"description":"Der Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb bearbeiten","x-codegen-request-body-name":"cart"},"post":{"tags":["Warenkorb"],"summary":"Warenkorb aus Vorlage erstellen","description":"Erstellt einen neuen Warenkorb aus einer Vorlage","operationId":"createCartFromTemplate","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der neue Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb aus Vorlage erstellen"},"delete":{"tags":["Warenkorb"],"summary":"Warenkorb löschen","description":"Löscht einen bestehenden Warenkorb","operationId":"deleteCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Der Warenkorb wurde gelöscht","content":{}}},"x-operationName":"Warenkorb löschen"}},"/carts/{cartIdentifier}/items":{"post":{"tags":["Warenkorb"],"summary":"Warenkorb-Position hinzufügen","description":"Fügt ein neues Item in den Warenkorb","operationId":"addItemToCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Das hinzuzufügende Item","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartItemInput"}}},"required":true},"responses":{"200":{"description":"Der aktualisierte Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb-Position hinzufügen","x-codegen-request-body-name":"item"}},"/carts/{cartIdentifier}/items/{itemIdentifier}":{"delete":{"tags":["Warenkorb"],"summary":"Warenkorb-Position löschen","description":"Löscht ein Item aus dem Warenkorb","operationId":"deleteItemFromCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}},{"name":"itemIdentifier","in":"path","description":"Item ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der aktualisierte Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb-Position löschen"}},"/carts/{cartIdentifier}/domains":{"post":{"tags":["Warenkorb"],"summary":"Warenkorb-Domainposition hinzufügen","description":"Fügt eine Domain dem Warenkorb hinzu","operationId":"addDomainToCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Die hinzuzufügende Domain","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainItemInput"}}},"required":true},"responses":{"200":{"description":"Der aktualisierte Warenkorb","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorb-Domainposition hinzufügen","x-codegen-request-body-name":"item"}},"/carts/{cartIdentifier}/actions/checkout":{"post":{"tags":["Warenkorb"],"summary":"Bestellung abschließen","description":"Erzeugt eine Bestellung aus einem Warenkorb","operationId":"checkoutOrder","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"title":"Formular-Body","type":"object","properties":{"pinCode":{"type":"number","description":"Der PinCode, der für den Kundennummer-Wechsel Ihres Bestandspaketes notwendig ist."}}}}},"required":false},"responses":{"200":{"description":"Die Bestellung war erfolgreich","content":{}}},"x-operationName":"Bestellung abschließen","x-codegen-request-body-name":"pinCode"}},"/carts/{cartIdentifier}/actions/offer":{"post":{"tags":["Angebote","Warenkorb"],"summary":"Angebot versenden","description":"Erzeugt ein Angebot aus einem Warenkorb und verschickt dieses als PDF per Mail an den angegebenen Empfänger.","operationId":"createQuoteFromCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Empfänger","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Contact"}}},"required":true},"responses":{"200":{"description":"Angebot wurde erfolgreich erstellt und verschickt","content":{}}},"x-operationName":"Angebot versenden","x-codegen-request-body-name":"recipient"}},"/carts/{cartIdentifier}/actions/share":{"post":{"tags":["Warenkorb","Angebote"],"summary":"Warenkorbvorlage erstellen","description":"Erstellt eine Vorlage aus einem Warenkorb. Vorlagen können nicht bearbeitet werden. Die Vorlage enthält keine Personenbezogenendaten.","operationId":"shareCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die erstellte Vorlage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}}}},"x-operationName":"Warenkorbvorlage erstellen"}},"/carts/{cartIdentifier}/actions/recommend":{"post":{"tags":["Warenkorb","Angebote"],"summary":"Warenkorbvorlage für Account-Ausgliederung erstellen","description":"Erstellt eine Vorlage aus einem Warenkorb mit Account-Ausgliederung. Vorlagen können nicht bearbeitet werden. Die Vorlage enthält keine Personenbezogenendaten.","operationId":"recommendCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Notwendige Daten für die Empfehlung","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Recommendation"}}}}},"x-operationName":"Warenkorbvorlage für Account-Ausgliederung erstellen"}},"/carts/{cartIdentifier}/actions/recommendation/verify":{"post":{"tags":["Warenkorb","Angebote"],"summary":"Überprüfe PIN-Code von Empfehlung","description":"Überprüft den Pin-Code bei einer Empfehlung.","operationId":"verifyRecommendCart","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"title":"Formular-Body","type":"object","properties":{"pinCode":{"type":"number","description":"Der 6-stellige Pin-Code"},"sourceAccount":{"type":"string","description":"Name des Projektes"},"sourceReseller":{"type":"string","description":"Name des Resellers"}}}}},"required":true},"responses":{"200":{"description":"Notwendige Daten für die Empfehlung","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"400":{"description":"Fehlende Parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"404":{"description":"Empfehlung nicht gefunden oder PIN-Inkorrekt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Überprüfe PIN-Code von Empfehlung","x-codegen-request-body-name":"payload"}},"/carts/{cartIdentifier}/actions/requestverification":{"post":{"tags":["Warenkorb"],"summary":"SMS-Verifizierung starten","description":"Fragt eine SMS-Verifizierung an. Der Empfänger erhält eine SMS mit einem Code.","operationId":"requestSMSVerification","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"title":"Verifizierungsanfrage","type":"object","properties":{"recipient":{"type":"string","description":"Die Mobilfunknummer des Empfängers"}}}}},"required":true},"responses":{"200":{"description":"Die SMS wurde erfolgreich verschickt.","content":{}}},"x-operationName":"SMS-Verifizierung starten","x-codegen-request-body-name":"recipient"}},"/carts/{cartIdentifier}/actions/verify":{"post":{"tags":["Warenkorb"],"summary":"SMS-Verifizierung bestätigen","description":"Bestätigt die SMS-Verifizierung.","operationId":"confirmSMSVerification","parameters":[{"name":"cartIdentifier","in":"path","description":"Warenkorb ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Der Verifizierungcode","content":{"*/*":{"schema":{"title":"Verifizierungscode","type":"object","properties":{"verificationCode":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"Die Verifizierung wurde erfolgreich abgeschlossen.","content":{}}},"x-operationName":"SMS-Verifizierung bestätigen","x-codegen-request-body-name":"code"}},"/domains/{domainIdentifier}/actions/check":{"post":{"tags":["Domains"],"summary":"Domainverfügbarkeit prüfen","description":"Prüft ob eine Domain verfügbar ist","operationId":"checkDomainAvailability","parameters":[{"name":"domainIdentifier","in":"path","description":"Domain","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die Domain ist verfügbar","content":{}},"410":{"description":"Die Domain ist nicht verfügbar","content":{}}},"x-operationName":"Domainverfügbarkeit prüfen"}},"/public/topleveldomains":{"get":{"tags":["Domains"],"summary":"Öffentliche Toplevel-Domains auslesen","description":"Liefert alle möglichen öffentlichen Topleveldomains aus","operationId":"listPublicToplevelDomains","security":[],"responses":{"200":{"description":"Liste der öffentlichen Topleveldomains","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicTopLevelDomain"}}}}}},"x-operationName":"Öffentliche Toplevel-Domains auslesen"}},"/topleveldomains":{"get":{"tags":["Domains"],"summary":"Toplevel-Domains auslesen","description":"Liefert alle möglichen Topleveldomains aus","operationId":"listToplevelDomains","responses":{"200":{"description":"Liste der Topleveldomains","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TopLevelDomain"}}}}}},"x-operationName":"Toplevel-Domains auslesen"}},"/topleveldomains/{topLevelDomainIdentifier}":{"get":{"tags":["Domains"],"summary":"Toplevel-Domain auslesen","description":"Liefert eine Topleveldomain aus","operationId":"getToplevelDomain","parameters":[{"name":"topLevelDomainIdentifier","in":"path","description":"Topleveldomain","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Auszuliefernde Felder, als kommaseparierte Liste.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"Die Topleveldomain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopLevelDomain"}}}}},"x-operationName":"Toplevel-Domain auslesen"}},"/promotioncodes/{promotionCode}":{"get":{"tags":["PromotionCode"],"summary":"Promotioncode auslesen","description":"Liefert PromotionCode-Details aus","operationId":"getPromotionCode","parameters":[{"name":"promotionCode","in":"path","description":"PromotionCode","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die PromotionCode-Details","content":{}}},"x-operationName":"Promotioncode auslesen"}},"/promotioncodes/{promotionCode}/actions/validate":{"post":{"tags":["PromotionCode"],"summary":"Promotioncode validieren","description":"Validiert einen Promotion-Code für eine Bestellung","operationId":"verifyPromotionCode","parameters":[{"name":"promotionCode","in":"path","description":"PromotionCode","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Die zu bestellenden Artikel und ob der Hauptartikel einen monatliche Abrechnungsperiode hat. Nur die Artikelnummer wird zwingend benötigt.","content":{"*/*":{"schema":{"title":"Promotioncode-Validierungsanfrage","type":"object","properties":{"articles":{"type":"array","items":{"$ref":"#/components/schemas/Article"}},"monthly":{"type":"boolean"}}}}},"required":true},"responses":{"200":{"description":"Der Code ist valide","content":{}},"400":{"description":"Der Code ist nicht valide","content":{}}},"x-operationName":"Promotioncode validieren","x-codegen-request-body-name":"data"}},"/virt/guestoperatingsystems":{"get":{"tags":["Virt"],"summary":"Root-Server Betriebssysteme","description":"Liefert die zur Installation vorhandenen Root-Server Betriebssysteme","operationId":"listGuestOperatingSystems","responses":{"200":{"description":"Liste der zur Installation vorhandenen Root-Server Betriebssysteme","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestOperatingSystem"}}}}},"x-operationName":"Root-Server Betriebssysteme"}},"/bankdata/actions/convert":{"post":{"tags":["Bankdaten"],"summary":"Konvertiert Bankdaten in das IBAN / BIC Format","description":"Liefert zu einer gegebenen Kontonummer und BLZ die entsprechende IBAN und BIC","operationId":"convertBankDataToSEPA","requestBody":{"description":"Die zu konvertierenden Bankdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankData"}}},"required":true},"responses":{"200":{"description":"Die Bankdaten im IBAN / BIC Format","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Die Bankdaten sind ungültig","content":{}}},"x-operationName":"Konvertiert Bankdaten in das IBAN / BIC Format","x-codegen-request-body-name":"Bankdaten"}},"/webhooks":{"get":{"tags":["Webhooks"],"summary":"Liefert alle hinterlegten Webhooks","description":"Liefert alle hinterlegten Webhooks eines bestimmten Logins","operationId":"listWebhooks","responses":{"200":{"description":"Eine Liste von Webhooks","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}}},"x-operationName":"Liefert alle hinterlegten Webhooks"},"post":{"tags":["Webhooks"],"summary":"Registriert einen neuen Webhook","description":"Registriert einen neuen Webhook für einen bestimmten Login","operationId":"createWebhook","requestBody":{"description":"Die Webhook-Konfiguration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}},"required":true},"responses":{"200":{"description":"Der erstellte Webhook","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"x-operationName":"Registriert einen neuen Webhook","x-codegen-request-body-name":"webhookRequest"}},"/webhooks/{webhookIdentifier}":{"get":{"tags":["Webhooks"],"summary":"Liefert einen bestimmten Webhook","description":"Liefert die Daten eines bestimmten Webhooks","operationId":"getWebhook","parameters":[{"name":"webhookIdentifier","in":"path","description":"Die ID des Webhooks","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der gewünschte Webhook","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"403":{"description":"Wenn kein Zugriff zu diesem Webhook gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Liefert einen bestimmten Webhook"},"put":{"tags":["Webhooks"],"summary":"Updated den gewünschten Webhook","description":"Updated die Daten des gewünschten Webhooks","operationId":"updateWebhook","parameters":[{"name":"webhookIdentifier","in":"path","description":"Die ID des Webhooks","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Die Webhook-Konfiguration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}},"required":true},"responses":{"200":{"description":"Der überarbeitete Webhook","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"403":{"description":"Wenn kein Zugriff zu diesem Webhook gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Updated den gewünschten Webhook","x-codegen-request-body-name":"webhookRequest"},"delete":{"tags":["Webhooks"],"summary":"Löscht einen Webhook","description":"Löscht den gegebenen Webhook","operationId":"deleteWebhook","parameters":[{"name":"webhookIdentifier","in":"path","description":"Die ID des Webhooks","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Wenn der Webhook erfolgreich gelöscht wurde","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Webhook gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Löscht einen Webhook"}},"/cancellations":{"post":{"tags":["Kündigung","Verträge"],"summary":"Kündigung einleiten","description":"Leitet die Kündigung für einen bestimmten Tarif ein","operationId":"cancelContract","requestBody":{"description":"Die Kündigungsdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancellationRequest"}}},"required":true},"responses":{"204":{"description":"Kündigung erfolgreich eingeleitet","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Kündigung einleiten","x-codegen-request-body-name":"cancellationRequest"}},"/cancellations/{cancellationIdentifier}/actions/confirmationmail":{"post":{"tags":["Kündigung","Verträge"],"summary":"Kündigungsbestätigung erneut senden","description":"Löst eine erneute Versendung der Kündigungsbestätigung per E-Mail aus","operationId":"resendCancellationConfirmation","parameters":[{"name":"cancellationIdentifier","in":"path","description":"Die ID der bereits eingeleiteten Kündigung","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Erneute Versendung erfolgreich beantragt","content":{}},"403":{"description":"Wenn kein Zugriff zu dieser Kündigung gewährt wird","content":{}},"500":{"description":"Wenn es zu einem unbekannten Fehler gekommen ist","content":{}}},"x-operationName":"Kündigungsbestätigung erneut senden"}},"/gdpr/pdfs":{"get":{"tags":["DSGVO-Verträge"],"summary":"PDF - Liefert die Daten der Vertrags-PDFs","description":"Liefert die Daten der vom Kunden manuell hochgeladenen Vertrags-PDFs","operationId":"getGDPRPDFs","responses":{"200":{"description":"Eine Liste von manuell hochgeladenen Vertrags-PDFs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GDPRPDF"}}}}}},"x-operationName":"PDF - Liefert die Daten der Vertrags-PDFs"},"post":{"tags":["DSGVO-Verträge"],"summary":"PDF - Vertrags-PDF hochladen","description":"Lädt einen eigens geschlossenen Vertrag hoch. Dabei werden nur PDF Dateien unterstützt","operationId":"uploadGDPRPDF","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadGDPRPDFRequest"}}},"required":true},"responses":{"201":{"description":"Vertrags-PDF erfolgreich hochgeladen","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRPDF"}}}},"500":{"description":"Wenn es zu einem unbekannten Fehler gekommen ist","content":{}}},"x-operationName":"PDF - Vertrags-PDF hochladen","x-codegen-request-body-name":"uploadGDPRPDFRequest"}},"/gdpr/pdfs/{pdfIdentifier}":{"get":{"tags":["DSGVO-Verträge"],"summary":"PDF - Liefert ein bestimmtes Vertrags-PDF","description":"Liefert ein bestimmtes manuell hochgeladenes Vertrags-PDF des Kunden","operationId":"getGDPRPDF","parameters":[{"name":"pdfIdentifier","in":"path","description":"Die ID des Vertrags-PDFs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Das gewünschte Vertrags-PDF","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRPDF"}}}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"PDF - Liefert ein bestimmtes Vertrags-PDF"},"delete":{"tags":["DSGVO-Verträge"],"summary":"PDF - Löscht ein bestimmtes Vertrags-PDF","description":"Löscht ein bestimmtes manuell hochgeladenes Vertrags-PDF des Kunden","operationId":"deleteGDPRPDF","parameters":[{"name":"pdfIdentifier","in":"path","description":"Die ID des Vertrags-PDFs","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Wenn das Vertrags-PDF erfolgreich gelöscht wurde","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"PDF - Löscht ein bestimmtes Vertrags-PDF"}},"/gdpr/pdfs/{pdfIdentifier}/actions/download'":{"post":{"tags":["DSGVO-Verträge"],"summary":"PDF - Stellt ein Vertrags-PDF zum Download bereit","description":"Stellt ein manuell hochgeladenes Vertrags-PDF zum Download bereit","operationId":"downloadGDPRPDF","parameters":[{"name":"pdfIdentifier","in":"path","description":"Die ID des Vertrags-PDFs","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Das Vertrags-PDF","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrags-PDF gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"PDF - Stellt ein Vertrags-PDF zum Download bereit"}},"/gdpr/contract-presets":{"get":{"tags":["DSGVO-Verträge"],"summary":"Vertragskonfiguration - Liefert alle gespeicherten Vertrags-Konfigurationen","description":"Liefert alle gespeicherten Vertrags-Konfigurationen des Kunden","operationId":"getGDPRContractPresets","responses":{"200":{"description":"Eine Liste von Vertrags-Konfigurationen","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GDPRContractPreset"}}}}}},"x-operationName":"Vertragskonfiguration - Liefert alle gespeicherten Vertrags-Konfigurationen"},"post":{"tags":["DSGVO-Verträge"],"summary":"Vertragskonfiguration - Speichert eine Vertrags-Konfiguration","description":"Speichert eine Vertrags-Konfiguration","operationId":"createGDPRContractPresets","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRContractPreset"}}},"required":true},"responses":{"201":{"description":"Vertrags-Konfiguration erfolgreich gespeichert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRContractPreset"}}}},"500":{"description":"Wenn es zu einem unbekannten Fehler gekommen ist","content":{}}},"x-operationName":"Vertragskonfiguration - Speichert eine Vertrags-Konfiguration","x-codegen-request-body-name":"createGDPRContractPresetsRequest"}},"/gdpr/contract-presets/{contractPresetIdentifier}":{"get":{"tags":["DSGVO-Verträge"],"summary":"Vertragskonfiguration - Liefert eine bestimmte Vertrags-Konfiguration","description":"Liefert eine bestimmte Vertrags-Konfiguration des Kunden","operationId":"getGDPRContractPreset","parameters":[{"name":"contractPresetIdentifier","in":"path","description":"Die ID der Vertrags-Konfiguration","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Die gewünschte Vertrags-Konfiguration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRContractPreset"}}}},"403":{"description":"Wenn kein Zugriff zu dieser Vertrags-Konfiguration gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Vertragskonfiguration - Liefert eine bestimmte Vertrags-Konfiguration"}},"/gdpr/contracts":{"get":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Liefert alle hinterlegten Verträge","description":"Liefert die Daten aller hinterlegten Verträge","operationId":"getGDPRContracts","responses":{"200":{"description":"Eine Liste von Verträgen","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GDPRContract"}}}}}},"x-operationName":"Vertrag - Liefert alle hinterlegten Verträge"},"post":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Vertrag anlegen","description":"Legt einen Vertrag mit den angegebenen Daten an","operationId":"createGDPRContract","requestBody":{"description":"Die Vertragsdaten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGDPRContractRequest"}}},"required":true},"responses":{"201":{"description":"Vertrag erfolgreich angelegt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRContract"}}}},"500":{"description":"Wenn es zu einem unbekannten Fehler gekommen ist","content":{}}},"x-operationName":"Vertrag - Vertrag anlegen","x-codegen-request-body-name":"createGDPRContractRequest"}},"/gdpr/contracts/{contractIdentifier}":{"get":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Liefert einen bestimmten Vertrag","description":"Liefert die Daten eines bestimmten Vertrages","operationId":"getGDPRContract","parameters":[{"name":"contractIdentifier","in":"path","description":"Die ID des Vertrages","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der gewünschte Vertrag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GDPRContract"}}}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Vertrag - Liefert einen bestimmten Vertrag"},"delete":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Löscht einen bestimmten Vertrag","description":"Löscht einen bestimmten Vertrag","operationId":"deleteGDPRContract","parameters":[{"name":"contractIdentifier","in":"path","description":"Die ID des Vertrages","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Wenn der Vertrag erfolgreich gelöscht wurde","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"409":{"description":"Wenn der Vertrag nicht mehr gelöscht werden kann, da er bereits abgeschlossen ist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Vertrag - Löscht einen bestimmten Vertrag"}},"/gdpr/contracts/{contractIdentifier}/actions/pdf'":{"post":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Liefert ein PDF zu einem bestimmten Vertrag","description":"Liefert das PDF des Inhalts eines bestimmten Vertrages","operationId":"createGDPRContractPDF","parameters":[{"name":"contractIdentifier","in":"path","description":"Die ID des Vertrages","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Der Inhalt des gewünschten Vertrages als PDF","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Vertrag - Liefert ein PDF zu einem bestimmten Vertrag"}},"/gdpr/contracts/{contractIdentifier}/actions/mail'":{"post":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Verschickt eine E-Mail mit PDF an den Empfänger des Vertrags","description":"Verschickt eine E-Mail mit dem Vertrag in PDF-Form an den Empfänger des Vertrags. Die E-Mail enthält zudem einen Bestätigungslink, über den dem Vertrag digital zugestimmt werden kann.","operationId":"sendGDPRContractMail","parameters":[{"name":"contractIdentifier","in":"path","description":"Die ID des Vertrages","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"title":"sendMailForGDPRContractRequest","type":"object","properties":{"mailTo":{"type":"string","description":"Falls eine vom hinterlegten Kontakt abweichende Empfänger E-Mail Adresse angegeben werden soll"},"content":{"type":"string","description":"Falls ein spezifischer Inhalt anstelle des Standard E-Mail Inhalts versendet werden soll. Dabei kann mit Hilfe der Zeichenkette {{link}} der Bestätigungslink eingefügt werden."}}}}},"required":false},"responses":{"204":{"description":"Die E-Mail wurde verschickt","content":{}},"400":{"description":"Wenn der Vertrag bereits abgeschlossen ist","content":{}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Vertrag - Verschickt eine E-Mail mit PDF an den Empfänger des Vertrags","x-codegen-request-body-name":"contractMail"}},"/gdpr/contracts/{contractIdentifier}/actions/accept'":{"post":{"tags":["DSGVO-Verträge"],"summary":"Vertrag - Akzeptiert den Vertrag","description":"Akzeptiert den Vertrag und verschickt diesen bei Bedarf als PDF via E-Mail an beide Vertragspartner.","operationId":"acceptGDPRContract","parameters":[{"name":"contractIdentifier","in":"path","description":"Die ID des Vertrages","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"*/*":{"schema":{"title":"acceptGDPRContractRequest","required":["contractSigner"],"type":"object","properties":{"email":{"type":"boolean","description":"Wahr, wenn der Vertrag zusätzlich an beide Vertragspartner versendet werden soll"},"contractSigner":{"type":"string","description":"Der vollständige Name des Vertragsunterzeichners"}}}}},"required":false},"responses":{"204":{"description":"Der Vertrag wurde akzeptiert und bei Bedarf versendet","content":{}},"400":{"description":"Wenn der Vertrag bereits akzeptiert wurde","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"403":{"description":"Wenn kein Zugriff zu diesem Vertrag gewährt wird","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"x-operationName":"Vertrag - Akzeptiert den Vertrag","x-codegen-request-body-name":"acceptance"}},"/gdpr/contacts":{"get":{"tags":["DSGVO-Kontakte"],"summary":"Kontakt - Liefert alle hinterlegten Adressdaten","description":"Liefert die Daten aller hinterlegten Adressdaten","operationId":"getGDPRContacts","parameters":[{"name":"type","in":"query","description":"Filterung der Kontakte nach einem bestimmten Typ","schema":{"type":"string"}}],"responses":{"200":{"description":"Eine Liste von Adressdaten","content"
[...]
