.featureRow {
  display: flex;
  align-items: center;
  padding: calc(4 * var(--ifm-global-spacing)) var(--ifm-global-spacing);
  width: 100%;
}

.variant {
  background: radial-gradient(
      circle at 37.1% 20.28%,
      #dce9f780,
      transparent 65%
    ),
    radial-gradient(circle at 71.5% 45.14%, #dce9f780, transparent 75%),
    radial-gradient(circle at 0.78% 85%, #1054ed80, transparent 30%),
    radial-gradient(circle at 89.66% 98.93%, #01df9780, transparent 40%),
    radial-gradient(circle at 35.12% 1.07%, #0054f580, transparent 61%),
    radial-gradient(circle at 53.1% 44.82%, #fff, transparent 80%),
    radial-gradient(circle at 50% 50%, #ffeded, #ffeded 100%);
}

[data-theme="dark"] .variant {
  background: none;
}
