.introHeader {
  --mw-header-icon-size: 64px;
}

.introHeader h3 {
  font-weight: bolder;
  font-size: 2rem;
  flex-grow: 1;
}

.introHeader svg {
  flex: 0 0 var(--mw-header-icon-size);
  width: var(--mw-header-icon-size);
  height: var(--mw-header-icon-size);
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  stroke: var(--ifm-heading-color);
}
