.features {
    display: flex;
    align-items: center;
    padding: calc(2 * var(--ifm-global-spacing)) var(--ifm-global-spacing);
    width: 100%;
}

.feature {
    background-color: var(--mw-main-feature-background-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.features h3 {
    color: var(--ifm-color-primary);
    font-weight: 900;
}

.feature li a {
    font-family: var(--ifm-font-family-base);
}


