.toggle {
  display: flex;
  align-items: center;
}

.toggleIcon {
  display: none !important;
}

[data-theme-choice="system"] .systemToggleIcon,
[data-theme-choice="light"] .lightToggleIcon,
[data-theme-choice="dark"] .darkToggleIcon {
  display: inline-block !important;
}
