/* Placed like the copy button of Flow's CodeBlock */
.buttons {
  position: absolute;
  top: var(--code-block--padding);
  right: var(--code-block--padding);
  z-index: 1;
  display: flex;
  gap: var(--size-px--xs);
}
