/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: visible;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.heroBanner img {
  width: 75%;
}

.heroDescription {
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5em;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroBanner img {
    width: 100%;
  }

  .buttons {
    flex-wrap: wrap;
  }

  .buttons a {
    flex-basis: 50%;
    margin-bottom: 1em;
  }
}
