.urlField {
  width: auto;
  margin: 1rem;
}

.urlField code {
  font-size: 150%;
}

.urlContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urlContainer p:first-of-type {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
