.success {
    background-color: var(--ifm-color-success);
}

.redirect {
    background-color: var(--ifm-color-info);
}

.clientError {
    background-color: var(--ifm-color-warning);
}

.serverError {
    background-color: var(--ifm-color-danger);
}

.responseStatus {
    color: var(--ifm-button-color);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
}