.method {
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    margin-right: 8px;
    font-weight: bold;
    text-decoration: none !important;
    display: inline-flex;
    text-align: center;
    font-family: var(--ifm-font-family-base);
    flex-shrink: 0;
    align-items: center;
}

p .method, li .method {
    font-size: 0.8rem;
    padding: 0 8px;
    min-width: 0;
}

.methodDeprecated {
    background-color: var(--color--gray--600);
}

[data-theme="dark"] .methodDeprecated {
    background-color: var(--color--gray--800);
}

.methodGET {
    background-color: var(--ifm-color-success);
}

.methodPOST {
    background-color: var(--ifm-color-info);
}

.methodDELETE {
    background-color: var(--ifm-color-danger);
}

.methodPATCH {
    background-color: var(--ifm-color-warning);
}

.methodPUT {
    background-color: var(--ifm-color-warning);
}
