.card {
    --ifm-link-color: var(--ifm-color-emphasis-800);

    border: 1px solid var(--ifm-color-emphasis-200);
    transition: all var(--ifm-transition-fast) ease;
    transition-property: border, box-shadow;
}

.header {
    display: flex;
    align-items: flex-start;
}

.deprecated {
    --ifm-link-color: var(--ifm-color-gray-600);
}

.card a {
    text-decoration: none;
}

.card p {
    font-size: 0.9rem;
}

.card p:last-of-type {
    margin-bottom: 0;
}

.path {
    font-family: var(--ifm-font-family-monospace);
    flex-grow: 1;
}