.operationIdValue > div {
  display: flex;
  align-items: center;
}

.operationIdValue > div > div {
  flex-grow: 1;
}

.labelWithHelp {
  display: flex;
}

.meta {
  display: flex;
  align-items: center;
}

.meta > * {
  flex-grow: 0;
  flex-shrink: 0;
}

.meta > *:nth-child(2) {
  flex-grow: 1;
}
