.method {
  text-transform: uppercase;
  color: white;
  width: 100px;
  border-radius: 4px;
}

.method-get {
  background-color: var(--ifm-color-success);
}

.method-post {
  background-color: var(--ifm-color-info);
}

.method-delete {
  background-color: var(--ifm-color-danger);
}

.method-patch {
  background-color: var(--ifm-color-warning);
}

.method-put {
  background-color: var(--ifm-color-warning);
}
