.required {
    color: var(--ifm-color-danger-darker);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.optional {
    color: var(--ifm-color-gray-600);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}