.featureRow {
  display: flex;
  align-items: center;
  padding: calc(4 * var(--ifm-global-spacing)) var(--ifm-global-spacing);
  width: 100%;
}

/* Stacked cards on small screens */
@media screen and (max-width: 996px) {
  .featureRow :global(.col) + :global(.col) {
    margin-top: var(--size-rem--m);
  }
}

.variant {
  background: var(--color--gradient);
}
