.featureRow {
  display: flex;
  align-items: center;
  padding: calc(4 * var(--ifm-global-spacing)) var(--ifm-global-spacing);
  width: 100%;
}

.variant {
  background: rgba(113,93,238,0.3);
}

/*[data-theme="dark"] .variant {
  background: none;
}*/
