.reference {
  border: 1px solid var(--ifm-color-emphasis-200);
  border-top: 0;
  border-bottom-right-radius: var(--ifm-card-border-radius);
  border-bottom-left-radius: var(--ifm-card-border-radius);
  padding: calc(var(--ifm-global-spacing) / 2);
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: var(--ifm-leading);
}

.reference > p {
  margin-top: calc(var(--ifm-paragraph-margin-bottom) / 2);
  margin-bottom: calc(var(--ifm-paragraph-margin-bottom) / 2);
}

div[class^="language-"]:has(+ div.reference) {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
