.example {
  margin-bottom: var(--ifm-leading);
}

.example > :global(.theme-code-block) {
  margin-bottom: 0;
}

/* Footer of the code block, styled like its (optional) title bar */
.reference {
  border: var(--code-block--border-width) var(--code-block--border-style)
    var(--code-block--border-color);
  border-top: 0;
  border-bottom-right-radius: var(--code-block--corner-radius);
  border-bottom-left-radius: var(--code-block--corner-radius);
  background-color: var(--code-block--background-color);
  padding: var(--size-px--s) var(--code-block--padding);
  font-size: var(--font-size-text--s);
  text-align: right;
}

.reference > p {
  margin-top: calc(var(--ifm-paragraph-margin-bottom) / 2);
  margin-bottom: calc(var(--ifm-paragraph-margin-bottom) / 2);
}

.example > :global(.theme-code-block):has(+ .reference) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
