/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "InterBold";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/static/fonts/Inter-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/fonts/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/fonts/proximanova-bold-webfont.woff) format("woff");
}

:root {
    --ifm-color-primary: #27367b;
    --ifm-color-primary-dark: #1d295c;
    --ifm-color-primary-darker: #141b3e;
    --ifm-color-primary-darkest: var(--ifm-color-primary-darker);
    --ifm-color-primary-light: #5d689c;
    --ifm-color-primary-lighter: #939bbd;
    --ifm-color-primary-lightest: #c9cdde;
    --ifm-color-info: #0054f5;
    --ifm-color-info-dark: #003fb8;
    --ifm-color-info-darker: #002a7b;
    --ifm-color-success: #00a674;
    --ifm-color-success-dark: #007d57;
    --ifm-color-success-darker: #00533a;
    --ifm-color-warning: #ff9343;
    --ifm-color-warning-dark: #d4573e;
    --ifm-color-warning-darker: #bf393c;
    --ifm-color-content: #3c3c3b;
    --ifm-color-gray-300: #c6c6c6;

    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-alert-border-color: var(--ifm-color-info);
    --ifm-alert-border-width: 1px;
    --ifm-alert-shadow: none;
    --ifm-breadcrumb-color-active: var(--ifm-color-content);
    --ifm-breadcrumb-item-background-active: none;
    --ifm-breadcrumb-padding-vertical: 0;
    --ifm-button-size-multiplier: 1;
    --ifm-card-border-radius: var(--ifm-global-radius);
    --ifm-code-background: #ededed;
    --ifm-code-font-size: 14px;
    --ifm-color-emphasis-200: var(--ifm-color-gray-300);
    --ifm-font-family-base: "Inter";
    --ifm-font-family-bold: "InterBold";
    --ifm-font-family-monospace: "RobotoMono";
    --ifm-font-family-headline: "ProximaNova";
    --ifm-footer-background-color: var(--ifm-color-primary);
    --ifm-footer-color: #fff;
    --ifm-footer-link-color: #fff;
    --ifm-footer-link-hover-color: #fff;
    --ifm-global-radius: 4px;
    --ifm-global-spacing: 16px;
    --ifm-h2-font-size: 24px;
    --ifm-heading-color: var(--ifm-color-primary);
    --ifm-heading-font-family: var(--ifm-font-family-bold);
    --ifm-hover-overlay: #e7effa;
    --ifm-line-height-base: 24px;
    --ifm-link-color: var(--ifm-color-info);
    --ifm-link-decoration: none;
    --ifm-link-hover-color: var(--ifm-color-info-dark);
    --ifm-link-hover-decoration: none;
    --ifm-menu-color: var(--ifm-color-primary);
    --ifm-menu-color-active: var(--ifm-color-info);
    --ifm-navbar-background-color: var(--ifm-color-primary);
    --ifm-navbar-height: 72px;
    --ifm-navbar-link-color: #fff;
    --ifm-navbar-link-hover-color: #fff;
    --ifm-toc-link-color: var(--ifm-link-color);
    --mw-main-background-color: #ededed;
    --mw-main-feature-background-color: #fff;
}

.hero--primary {
    background: radial-gradient(circle at 60.52% 67.2%, #264697, transparent 41%),
    radial-gradient(circle at 56.14% 12.23%, #232b69, transparent 85%),
    radial-gradient(circle at 6.01% 1.34%, #d989b9, transparent 25%),
    radial-gradient(circle at 75.71% 4.03%, #0a0d66, transparent 34%),
    radial-gradient(circle at 99.31% 70.7%, #2fd2eb, transparent 75%),
    radial-gradient(circle at 76.91% 59.14%, #0a0d66, transparent 71%),
    radial-gradient(circle at 71.07% 83.33%, #0a0d66, transparent 71%),
    radial-gradient(circle at 15.11% 70.43%, #1556a1, transparent 64%),
    radial-gradient(circle at 65.49% 37.9%, #3058a5, transparent 100%),
    radial-gradient(circle at 99.4% 93.55%, #12f7ff, transparent 100%),
    radial-gradient(circle at 50% 50%, #8f62aa, #8f62aa 100%);
}

.hero__title {
    color: #fff;
    font-size: 60px;
    font-family: var(--ifm-font-family-headline);
}

.docPage_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-styles-module {
    align-items: stretch;
    flex: 1;
}

.main-wrapper {
    background-color: var(--mw-main-background-color);
}

main:not(.index) {
    background-color: var(--mw-main-feature-background-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    align-self: stretch;
    flex: 1;
    margin: var(--ifm-global-spacing);
    padding: calc(2 * var(--ifm-global-spacing));
}

main:not(.index) .container {
    padding: 0 !important;
}

.pagination-nav__label {
    font-size: 14px;
}

.card,
.pagination-nav a {
    box-shadow: none !important;
    padding: var(--ifm-global-spacing) !important;
}

.card:hover,
.pagination-nav a:hover {
    border-color: var(--ifm-color-gray-300) !important;
    background: var(--ifm-hover-overlay);
}

.card h2 {
    font-size: 18px;
}

.card p {
    font-family: var(--ifm-font-family-base);
    font-size: 16px;
    overflow: visible;
    white-space: pre-wrap;
}

.breadcrumbs__item--active {
    font-family: var(--ifm-font-family-bold);
}

.menu__link--active {
    font-family: var(--ifm-font-family-bold) !important;
}

a.menu__link {
    font-family: var(--ifm-font-family-base);
}

aside {
    border: none !important;
    clip-path: none !important;
}

aside nav {
    padding: calc(2 * var(--ifm-global-spacing)) var(--ifm-global-spacing) !important;
    margin: var(--ifm-global-spacing);
    margin-right: 0;
    background-color: var(--mw-main-feature-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
}

.markdown > h2 {
    --ifm-h2-font-size: 24px;
}

.markdown > h3 {
    --ifm-h3-font-size: 18px;
}

.container h1 {
    --ifm-h1-font-size: 32px !important;
}

code {
    border: none;
    padding: 0 8px;
}

pre {
    background: var(--ifm-code-background);
}

strong {
    font-family: var(--ifm-font-family-bold);
}

a {
    font-family: var(--ifm-font-family-bold);
    font-size: 14px;
}

p {
    font-size: 16px;
}

.markdown a, p a {
    font-family: var(--ifm-font-family-base);
    font-size: 1em;
    text-decoration: underline;

    /** underline offset is necessary because <code> blocks nested in linkes look shitty otherwise */
    text-underline-offset: .2em;
}

.markdown strong a {
    font-family: var(--ifm-font-family-bold);
}

.button {
    font-family: var(--ifm-font-family-bold);
    font-size: initial;
}

.navbar button:hover {
    background: var(--ifm-color-primary-dark);
}

.navbar-sidebar {
    --ifm-menu-color: #fff;
    --ifm-menu-color-active: #fff;
}

.navbar__link {
    font-family: inherit;
}

.navbar__logo {
    margin: 0 2rem 0 1rem;
}

.navbar button {
    color: #fff;
}

.theme-doc-footer-tags-row,
.theme-doc-footer-edit-meta-row {
    margin: 0;
}

section.row {
    margin: 0 calc(8px * -1);
}

.theme-doc-footer-tags-row b {
    color: #878787;
    font-size: 14px;
    font-family: var(--ifm-font-family-bold);
}

.theme-doc-footer-tags-row a {
    color: var(--ifm-color-content);
    font-family: var(--ifm-font-family-base);
    background: var(--ifm-code-background);
    border: none;
}

.theme-doc-footer-tags-row a:hover {
    background: var(--ifm-hover-overlay);
}

.col {
    padding: 0 calc(var(--ifm-global-spacing) / 2);
}

.col.margin-bottom--lg {
    margin-bottom: var(--ifm-global-spacing) !important;
}

.table-of-contents__link {
    font-family: var(--ifm-font-family-base);
}

/* Banners */
.alert {
    --ifm-link-color: inherit;
    --ifm-link-hover-color: inherit;
    --ifm-link-decoration: inherit;
    background-color: inherit;
    --ifm-alert-foreground-color: var(--ifm-color-content);
    --ifm-alert-background-color-highlight: #ededed !important;
}

.alert svg {
    height: 20px !important;
    width: 20px !important;
}

.alert > :first-child {
    text-transform: none !important;
    font-family: var(--ifm-font-family-bold);
}

.alert--info {
    --ifm-alert-border-color: var(--ifm-color-info);
}

.alert--info > :first-child {
    color: var(--ifm-color-info-dark) !important;
}

.alert--info svg {
    color: var(--ifm-color-info-dark) !important;
    fill: var(--ifm-color-info-dark) !important;
}

.alert--warning {
    --ifm-alert-border-color: var(--ifm-color-warning);
}

.alert--warning > :first-child {
    color: var(--ifm-color-warning-dark) !important;
}

.alert--warning svg {
    color: var(--ifm-color-warning-dark) !important;
    fill: var(--ifm-color-warning-dark) !important;
}

/* dark mode. */

[data-theme="dark"] {
    --ifm-color-primary: #c9cdde;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --mw-main-background-color: #111;
    --mw-main-feature-background-color: #222;
    --ifm-navbar-background-color: #1c2658;
    --ifm-footer-background-color: #1c2658;
    --ifm-navbar-link-color: #fff;
    --ifm-color-info: #80aafa;
    --ifm-color-info-dark: #80aafa;
    --ifm-color-info-darker: #bfd4fd;
    --ifm-color-success: #00a674;
    --ifm-color-success-dark: #00b785;
    --ifm-color-success-darker: #00c795;
    --ifm-color-warning: #ffae72;
    --ifm-color-warning-dark: #ffae72;
    --ifm-color-warning-darker: #ffc9a1;
    --ifm-link-color: var(--ifm-color-info);
    --ifm-menu-color-active: var(--ifm-color-info);
    --ifm-color-content: #ffffff;
    --ifm-button-color: #ffffff;
}

[data-theme="dark"] .hero--primary {
    background: radial-gradient(circle at 60.52% 67.2%, #1c2e60, transparent 41%),
    radial-gradient(circle at 56.14% 12.23%, #232b69, transparent 85%),
    radial-gradient(circle at 6.01% 1.34%, #562441, transparent 25%),
    radial-gradient(circle at 75.71% 4.03%, #0a0d66, transparent 34%),
    radial-gradient(circle at 99.31% 70.7%, #227b85, transparent 75%),
    radial-gradient(circle at 76.91% 59.14%, #0a0d66, transparent 71%),
    radial-gradient(circle at 71.07% 83.33%, #0a0d66, transparent 71%),
    radial-gradient(circle at 15.11% 70.43%, #0f3464, transparent 64%),
    radial-gradient(circle at 65.49% 37.9%, #25427a, transparent 100%),
    radial-gradient(circle at 99.4% 93.55%, #288e8f, transparent 100%),
    radial-gradient(circle at 50% 50%, #8f62aa, #8f62aa 100%);
}

[data-theme="dark"] .hero {
    color: #fff;
}

[data-theme="dark"] code,
[data-theme="dark"] pre {
    --ifm-code-background: #141b3e;
}

[data-theme="dark"] .card,
[data-theme="dark"] .pagination-nav a {
    background: #333;
    border: none;
}

[data-theme="dark"] .card:hover,
[data-theme="dark"] .pagination-nav a:hover {
    background-color: #2b3980;
}

[data-theme="dark"] .alert {
    background-color: #2b398080;
}

[data-theme="dark"] .menu__link--active:not(.menu__link--sublist),
[data-theme="dark"] .menu__link:hover,
[data-theme="dark"] .menu__list-item-collapsible--active,
[data-theme="dark"] .menu__list-item-collapsible:hover,
[data-theme="dark"] .navbar-sidebar__back,
[data-theme="dark"] .navbar button:hover{
    background-color: #2b3980;
}

@media screen and (max-width: 996px){
    .navbar {
        --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(104%) contrast(98%);
    }

    .menu__link--active:not(.menu__link--sublist),
    .menu__link:hover,
    .menu__list-item-collapsible--active,
    .menu__list-item-collapsible:hover,
    .navbar-sidebar__back{
        background-color: var(--ifm-color-primary-dark);
    }
}

@media screen and (max-width: 600px) {
    .hero__title {
        font-size: 40px;
    }
    .navbar__logo {
        height: 24px;
    }
}
