RedirectMatch 301 ^/reference/v1 /docs/v1/category/reference
RedirectMatch 301 ^/reference/v2 /docs/v2/category/reference
RedirectMatch 301 ^/docs/v2/technologies/languages(.*) /docs/v2/platform/workloads$1
RedirectMatch 301 ^/docs/v2/technologies(.*) /docs/v2/platform$1