RedirectMatch 301 ^/reference/v1 /docs/v1/reference
RedirectMatch 301 ^/reference/v2 /docs/v2/reference
RedirectMatch 301 ^/de/reference/v1 /de/docs/v1/reference
RedirectMatch 301 ^/de/reference/v2 /de/docs/v2/reference
RedirectMatch 301 ^/docs/v2/technologies/languages(.*) /docs/v2/platform/workloads$1
RedirectMatch 301 ^/docs/v2/technologies(.*) /docs/v2/platform$1

RedirectMatch 301 ^/docs/v2/api/sdks/cli /cli
RedirectMatch 301 ^/de/docs/v2/api/sdks/cli /de/cli

RedirectMatch 301 ^/docs/v2/contribution/how-to/create-extension /docs/v2/contribution/how-to/manage-extensions

RedirectMatch 301 ^/docs/v2/platform/deployment(.*) /docs/v2/guides/deployment$1

RedirectMatch 301 ^/docs/v2/platform/development/cli-coding-tools /docs/v2/platform/development/ai-coding
RedirectMatch 301 ^/de/docs/v2/platform/development/cli-coding-tools /de/docs/v2/platform/development/ai-coding