.box {
  height: 100%;
}

/* Keeps "next" in the right column even without a "previous" link */
.next {
  grid-column: 2 / 3;
  align-items: flex-end;
  text-align: end;
}

.subLabel {
  display: block;
  font-size: var(--font-size-text--s);
  color: var(--ifm-color-content-secondary);
}
